<div id="footer" class="container-fluid">
  <div id="footer-container">
      <a class="col-2 btn butFoot" href="/">
        🜲
        <span class="butText">main</span>
      </a>
      <a class="col-2 btn butFoot" href="/graph">
        🝠
        <span class="butText">graph</span>
      </a>
      <a id="plus-button" class="col-2 btn">
        +
      </a>
      <a class="col-2 btn butFoot" href="/stats">
        {{! 🜳 }}
        {{! ⍝ }}
        {{! ♋︎ }}
        {{! ⌘ }}
        {{! ⌬ }}
        {{! ⍧ }}
        {{! ⍦ }}
        {{! ⍬ }}
        {{! ⍺ }}
        {{! メ }}
        {{! 유 }}
        {{! 〨 }}
        {{! ‰ }}
        {{! ⊬ }}
        {{! <span id="statsButText">〧</span> }}
        {{! Ω }}
        ℐ
        {{! ıllı }}
        <span class="butText">stats</span>
      </a>
      <a class="col-2 btn butFoot" href="/settings">
        {{! ✲ }}
        {{! ⌬ }}
        {{! ◍ }}
        {{! 🞴 }}
        ≡
        <span class="butText">config</span>
      </a>
      <!--POP-UP CONTAINER-->
      <div id="popup-container" style="display: none">
        <a id="but-1" class="col-2 btn but" href="/bedtime?day=yesterday">B 1</a>
        <a id="but-2" class="col-2 btn but" href="/bedtime?day=today">B 2</a>
        <a id="but-3" class="col-2 btn but" href="/bedtime?day=other">B 3</a>
      </div>
      </div>
    </div>

    <script src="footer.js"></script>